<div class="center-vertical-full">
    <div class="center-vertical">
        <h1 class="center-text color-white fa-5x uppercase font-900 text-shadow-large">KOLOR</h1>
        <p class="boxed-text-large color-white opacity-70 top-30">
            Kolor includes 9 Gradients for you to enjoy.<br>
            It's easy to edit or create more.
        </p>
        <ul class="demo-colors top-30">
            <li><a href="#" data-change-gradient="gradient-1" class="color-white bottom-10 no-border"><i class="shadow-icon-large gradient-1"></i>Default</a></li>
            <li><a href="#" data-change-gradient="gradient-5" class="color-white bottom-10 no-border"><i class="shadow-icon-large gradient-5"></i>Violet</a></li>
            <li><a href="#" data-change-gradient="gradient-7" class="color-white bottom-10 no-border"><i class="shadow-icon-large gradient-7"></i>Magenta</a></li>
            <li><a href="#" data-change-gradient="gradient-6" class="color-white bottom-10 no-border"><i class="shadow-icon-large gradient-6"></i>Red</a></li>
            <li><a href="#" data-change-gradient="gradient-3" class="color-white bottom-10 no-border"><i class="shadow-icon-large gradient-3"></i>Green</a></li>
            <li><a href="#" data-change-gradient="gradient-4" class="color-white bottom-10 no-border"><i class="shadow-icon-large gradient-4"></i>Blue</a></li>
            <li><a href="#" data-change-gradient="gradient-2" class="color-white bottom-10 no-border"><i class="shadow-icon-large gradient-2"></i>Orange</a></li>
            <li><a href="#" data-change-gradient="gradient-8" class="color-white bottom-10 no-border"><i class="shadow-icon-large gradient-8"></i>Dark</a></li>
            <li><a href="#" data-change-gradient="gradient-9" class="color-white bottom-10 no-border"><i class="shadow-icon-large gradient-9"></i>Yellow</a></li>
            <div class="clear"></div>
        </ul>
        <a href="#" class="top-10 button button-m button-center-huge bg-white color-black round-large shadow-huge close-menu">AWESOME</a>
    </div>
</div>