<div class="menu-content">
    <div class="menu-header">
        <a class="menu-logo" href="index-2.html"></a>
        <h1>Welcome</h1>
        <p>Put a little color in your life</p>
    </div>
    <div class="menu-list icon-background-active">
        <em class="menu-divider top-10">Navigation</em>

        <a id="nav-welcome" class="menu-item" href="index-2.html">
            <i class="fa bg-gradient-red2 fa-star"></i>
            Welcome
        </a>
        <a id="nav-homepages" class="menu-item" href="homepages.html">
            <i class="fa bg-gradient-green1 fa-home"></i>
            Homepages
            <i class="fa fa-angle-right"></i>
        </a>
        <a id="nav-components" class="menu-item" href="components.html">
            <i class="fa bg-gradient-blue2 fa-cog"></i>
            Components
            <span>HOT</span>
        </a>
        <a id="nav-media" class="menu-item" href="media.html">
            <i class="fa bg-gradient-magenta1 fa-image"></i>
            Media
            <i class="fa fa-angle-right"></i>
        </a>
        <a id="nav-pages" class="menu-item" href="pages.html">
            <i class="fa bg-gradient-brown1 fa-file"></i>
            Site Pages
            <i class="fa fa-angle-right"></i>
        </a>
        <a data-submenu="submenu-2" class="menu-item" href="#">
            <i class="fa bg-gradient-mint fa-shopping-bag"></i>
            Templates
            <span></span>
        </a>
        <div id="submenu-2" class="submenu">
            <a id="nav-news" href="news.html">News<i class="fa fa-angle-right"></i></a>
            <a id="nav-shop" href="store.html">Shop<i class="fa fa-angle-right"></i></a>
            <a id="nav-blog" href="blog.html">Blog<i class="fa fa-angle-right"></i></a>
        </div>
        <a id="nav-contact" class="menu-item" href="contact.html">
            <i class="fa bg-gradient-blue2 fa-envelope"></i>
            Contact Us
            <i class="fa fa-angle-right"></i>
        </a>
        <a class="menu-item close-menu" href="#">
            <i class="fa bg-gradient-red2 fa-times"></i>
            Close Menu
            <i class="fa fa-angle-right"></i>
        </a>


        <em class="menu-divider">Get in Touch</em>
        <a class="menu-item" href="tel:+1 234 567 890">
            <i class="fa bg-gradient-green1 fa-phone"></i>
            Call Us
            <i class="fa fa-angle-right"></i>
        </a>
        <a class="menu-item" href="sms:+1 234 567 890">
            <i class="fa bg-gradient-mint fa-comment"></i>
            SMS Us
            <i class="fa fa-angle-right"></i>
        </a>
        <a class="menu-item" href="mailto:name@domain.com">
            <i class="fa bg-gradient-blue2 fa-envelope"></i>
            Mail Us
            <i class="fa fa-angle-right"></i>
        </a>

        <em class="menu-divider">Let's get Social</em>
        <a class="menu-item" href="https://www.facebook.com/enabled.labs/">
            <i class="fab bg-facebook fa-facebook-f"></i>
            Facebook
            <i class="fa fa-angle-right"></i>
        </a>
        <a class="menu-item" href="https://twitter.com/iEnabled">
            <i class="fab bg-twitter fa-twitter"></i>
            Twitter
            <i class="fa fa-angle-right"></i>
        </a>
        <a class="menu-item" href="https://plus.google.com/u/1/+EnabledLabs">
            <i class="fab bg-instagram fa-instagram"></i>
            Instagram
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
    <em class="menu-copyright">Copyright <span class="copyright-year"></span>, Enabled. All Rights Reserved</em>
</div>
