
* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.carousel {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #00ff21;
    background-color: blue;
}

.carousel-cell {
    width: 300px;
    height: 200px;
    margin-right: 18px;
    background: #212121;
    display: block;
    border-radius: 5px;
    counter-increment: carousel-cell;
}

.flickity-prev-next-button.next {
    right: 0px !important;
}

.flickity-prev-next-button.previous {
    left: 0px !important;
}

.top-20 {
    text-align: center;
    margin-top: 20px!important;
}

.theme-dark .carousel {
    background: black;
}
.video-wrap {
    position: relative;
    width: 300px;
    height: 200px;
}
.video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-wrap__grippy {
  position: absolute;
  left: 0;
  width: 40%;
  top: 32px;
  bottom: 40px;
  /* border: 2px solid green; */
  z-index: 3;
}
.video-wrap__grippy:before {
  position: absolute;
  display: block;
  content: "";
  width: 60%;
  height: 35%;
  top: 0;
  left: 100%;
  /* border: 2px solid green; */
}
.video-wrap__grippy + .video-wrap__grippy {
  left: auto;
  right: 0;
}
.video-wrap__grippy + .video-wrap__grippy:before {
  bottom: 0;
  top: auto;
  right: 100%;
  left: auto;
}
