<div class="content content-box round-medium shadow-huge">
<a href="index-2.html" class="footer-logo top-10"></a>
<p class="center-text uppercase ultrabold font-11 opacity-70 bottom-10">BUILT WITH <i class="fa fa-heart left-5 right-5 color-red2-dark"></i> BY ELITES</p>
<p class="boxed-text-large bottom-30 font-12">
Simplicity and power packed into a beautiful, feature filled, fast, mobile template.
</p>
<div class="center-text">
<a href="#" class="icon icon-m bg-facebook shadow-huge right-5 round-small"><i class="fab fa-facebook-f"></i></a>
<a href="#" class="icon icon-m bg-twitter shadow-huge round-small"><i class="fab fa-twitter"></i></a>
<a href="#" class="icon icon-m bg-mail shadow-huge left-5 round-small"><i class="fa fa-envelope"></i></a>
<a href="#" class="icon icon-m bg-green1-dark shadow-huge left-5 right-5 round-small"><i class="fa fa-phone"></i></a>
<a href="#" data-menu="menu-share" class="icon icon-m bg-pink2-dark shadow-huge round-small"><i class="fa fa-share-alt"></i></a>
</div>
<div class="divider bottom-10"></div>
<div class="one-third right-text font-10"><a href="#">Privacy Policy</a></div>
<div class="one-third center-text font-10"><a href="#">Terms of Service</a></div>
<div class="one-third last-column left-text font-10"><a href="#" class="back-to-top">Back to Top</a></div>
<div class="clear"></div>
<div class="divider top-10 bottom-10"></div>
<p class="center-text font-10 bottom-0">Copyright &copy; Enabled - <span class="copyright-year"></span>. All Rights Reserved</p>
</div>