<div class="content bottom-0">
    <h3 class="font-900 top-20 bottom-0">Notifications</h3>
    <p class="under-heading color-blue2-dark bottom-10 font-11">Latest updates from our page</p>
    <a href="#" class="close-menu close-menu-icon"><i class="fa fa-times-circle color-red2-dark"></i></a>
</div>
<div class="divider divider-margins"></div>
<a href="#" class="bell-item">
    <img class="shadow-icon-large" src="images/pictures/faces/4s.png">
    <strong class="color-theme">Kolor is Awesome</strong><span class="bg-green1-dark">FRESH</span>
    <em>You can setup awesome notifications in a menu as well, add useful news and info here.</em>
</a>
<a href="#" class="bell-item">
    <img class="shadow-icon-large" src="images/pictures/faces/3s.png">
    <strong class="color-theme">Blazing Fast Loading</strong><span class="bg-red2-dark">SYSTEM</span>
    <em>You can setup awesome notifications in a menu as well, add useful news and info here.</em>
</a>
<a href="#" class="bell-item">
    <img class="shadow-icon-large" src="images/pictures/faces/1s.png">
    <strong class="color-theme">Easy to use and Edit</strong><span class="bg-orange-dark">SIMPLE</span>
    <em>You can setup awesome notifications in a menu as well, add useful news and info here.</em>
</a>
<a href="#" class="bell-item bottom-10">
    <img class="shadow-icon-large" src="images/pictures/faces/2s.png">
    <strong class="color-theme">Elite Author Quality</strong><span class="bg-blue2-dark">QUALITY</span>
    <em>You can setup awesome notifications in a menu as well, add useful news and info here.</em>
</a>
